<h1>Listing Recipes</h1>

<ul>
<% @recipes.each do |recipe| %>

<%= render "shared/recipe", :recipe => recipe%>
<% end %>

<li class="btn btn-large btn-primary pull-right add_new">
  <span class="fui-plus-16"></span>
  <%= link_to 'New Recipe', new_recipe_path %>
</li>
</ul>