  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <a href="#" class="brand">My Recipe App</a>
      <ul class="nav pull-right">
        <li class="active"><a href="/cookbooks">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
  </div>
  </nav>
